{% extends "page_layout.html" %}

{% block content %}
    <h1>Widget</h1>

    <h2>Name: {{ widget.label }}</h2>
    <p>Link: <a href={{widget.link}}>{{ widget.link }}</a></p>
    <p>Description: {{ widget.description }}</p>
    <p>Create Date: {{ widget.create }}</p>
    <p>Instance ID:{{widget_id}}</p>

    <h2>Other views</h2>
    <p>Other views of this Sample are listed in the <a href="{{ url_for('controller.organization', organization_id=widget.widget_id) }}?_view=alternates">Alternates View</a>.</p>
{% endblock %}